[Unit]
Description=Millipede high-performance NTRIP caster

[Service]
Type=simple
User=caster
Group=caster
WorkingDirectory=~
Environment="NTHREADS=1"
EnvironmentFile=-/etc/millipede/caster.options
ExecStart=/usr/bin/caster -c /etc/millipede/caster.yaml -t $NTHREADS

[Install]
WantedBy=multi-user.target
