[Unit]
Description=Millipede high-performance NTRIP caster

[Service]
Type=simple
User=caster
ExecStart=/usr/bin/caster -c /etc/millipede/caster.yaml

[Install]
WantedBy=multi-user.target
